# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gradle/
.idea/caches/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/waimai.iml
.idea/workspace.xml
local.properties
