<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.iov.dueros.waimai">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ui.WaiMaiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ui.TakeawayLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.FoodListActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.RecommendShopActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".ui.FoodActivity" />
        <activity android:name=".ui.OrderListActivity" />
        <activity android:name=".ui.SubmitOrderActivity" />
        <activity
            android:name=".ui.AddressListActivity"
            android:theme="@style/NoTitleDialog" />
        <activity android:name=".ui.PaymentActivity" />
        <activity android:name=".ui.PaySuccessActivity" />
        <activity android:name=".ui.OrderDetailsActivity" />
        <activity
            android:name=".ui.SearchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".ui.AddressSelectActivity" />
        <activity android:name=".ui.AddressEditActivity" />
        <activity android:name=".ui.AddressSuggestionActivity" />

        <!-- BaiDu SDK -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="wLtpOczEdREiDnlauVSdPSN15pMHGYir" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".ui.CityListActivity"/>
    </application>

</manifest>